$buttonBackground: desaturate( #ab3e8f, 10% );
$borderColor: #082B33;

.gameArea {
  width: 600px;
  height: 300px;
  border: 2px solid $borderColor;
  border-radius: 25px;
  background: #FFF;
  margin-left: 25%;
  margin-bottom: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

h5 {
  font-size: 18px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.answer-btn {
  border: 0px;
  background-color: $buttonBackground;
  color: #FEFEFE;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 15px;
  padding: 8px 0;
  border-radius: 25px;
  padding: 10px 25px;
  &:hover {
    background-color: lighten($buttonBackground, 30%);
  }
}