.gameArea {
  width: 400px;
  border: 2px solid #082B33;
  border-radius: 25px;
  background: #FFF;
  margin-left: 25%;
  margin-bottom: 300px;
  margin-top: 50px;
}

ul {
  list-style: none;
}

.answerButtons {
  display: flex;
  flex-direction: column
}

button {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}